body {
    background-color: #020631 !important;
}

.cz-gpt-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cz-container {
    width: 700px !important;
}

.cz-user {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.cz-system {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.cz-input-container {
    display: flex;
    justify-content: center;
}

.cz-system-container {
    background-color: #FEFAF6;
    min-width: 300px;
    border: 2px solid #FEFAF6;
    border-radius: 25px;
    padding: 6px;
}

.cz-user-container {
    background-color: #DAC0A3;
    min-width: 300px;
    border: 2px solid #DAC0A3;
    border-radius: 25px;
    padding: 6px;
}